@{
    ViewBag.Title = "Home Page";
}

<a href="/Home/CheckAll">检索</a>
<br/>
<img src="https://igets.oss-cn-shenzhen.aliyuncs.com/banner.jpg?Expires=1534446796&OSSAccessKeyId=TMP.AQE9bHDO-PqbWCuuHktM8qZ-fNbf4AHmSJqmAKJewtmrmEx-A9ovJbfqmt9GADAtAhQkogOeIHEPb1yWVyjzhJGd7i5wewIVANPVYC16a7X9dKpNYY7C97ApdST3&Signature=L5twZP5nBGX%2B4d64JiOfLeN8O7I%3D" style="width:500px;height:300px"/>